name: CI
on:
  push:
    branches:
      - master
jobs:
  test:
    name: Node.js ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        # os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 'lts/Jod'
      - run: git config --global user.name "Github Actions"
      - run: git config --global user.email "actions@users.noreply.github.com"
      - run: npm install ts-dev-stack node-version-use depcheck @biomejs/biome -g -f
      - run: depcheck
      - run: npm ci
      - run: npx -y playwright install --with-deps
      - run: npm run build
      - run: tsds validate
      - run: npm run test
      - run: npm run test:engines
